<h1>Cadastro de produtos</h1>

<p>
    Essa é a tela de cadastro de produtos
</p>

<form action="/Clientes/SalvarDados" method="post">
    <label>Nome:</label>
    <input type="text" name="Nome" class="" />
    <br />

    <label>Preço:</label>
    <input type="number" name="Preco" class="" />
    <br />

    <label>Quantidade:</label>
    <input type="number" name="Quantidade" class="" />
    <br />

    <button type="submit" class="btn btn-success">
        Cadastrar
    </button>
</form>